.btn{
  height: 47px;
  width: 47px;
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(15, 155, 214, 0.25);
  background: transparent;
  outline:none;
  cursor: pointer;
  font-size: 22px;
  color: rgba(34,34,34, 0.7);

  &:hover {
    border: 1px solid #0F9BD6;
    color: rgba(34,34,34, 0.7);
  }
}