
.h1{
  font-size: 20px;
}

.text {
  font-size: 16px;
}
.textError{
  font-size: 16px;
  color: var(--errorColor);
}


.stack {
  display: grid;
  gap: 10px;
}

.oneLineForm {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr auto;
}

.inlineBackBtn {
  font-size: 20px;
  color: var(--primaryColor);
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  margin-top: -3px;
  cursor: pointer;
  &:hover {
    color: var(--primaryColorDark);
  }
}