.text {
}

.outlinedButton {
  height: 47px;
  border-radius: 10px;
  border: 1px solid rgba(15, 155, 214, 0.25);
  background: transparent;
  outline: none;
}

.stack {
  display: grid;
  gap: 10px;
}

.oneLineForm {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr auto;
}
