#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;  
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active{
  transition: opacity .3s ease-out, transform 1s ease-ou;
}

.fade-exit-active {
  transition: opacity .3s ease-in, transform 1s ease-in;
}